.team {
  text-align: center;
  background-color: #00000078;
  padding: 60px 0;
  margin-bottom: 0px;
  color: rgb(255, 255, 255);

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }

  &__list-item {
    background-color: #2f303a;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.66), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 40px 40px 40px 40px;
    width: 100%;
  }

  &__photo {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__description-name {
    margin-bottom: 10px;
  }

  &__description-text {
    color: rgb(255, 255, 255);
    margin-bottom: 16px;
  }

  &__description {
    padding-top: 30px;
    color: rgb(255, 255, 255);
  }

  &__description-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    gap: 20px;
  }

  &__description-icon {
    fill: rgb(255, 255, 255);
    background-color: black;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px $secondaryColorBlack;
    transition-property: background-color;
    transition-duration: $transitionDurationDefault;
    transition-timing-function: $transitionTimingDefault;
    letter-spacing: 0.09em;
  }

  &__description-icon:hover,
  &__description-icon:focus,
  &__description-icon:active {
    fill: $secondaryColorWhite;
    background-color: rgb(2, 73, 2);
    border-radius: 50%;
    cursor: pointer;
  }
}

/* ---------- RESPONSIVE TABLET ---------- */

@media screen and (min-width: $breakpointTabletStart) and (max-width: $breakpointTabletEnd) {
  .team__list-item {
    flex-basis: calc((100% - 30px) / 2);
  }
}

/* ---------- END RESPONSIVE TABLET ---------- */

/* ---------- RESPONSIVE DESKTOP ---------- */

@media screen and (min-width: $breakpointDesktopStart) {
  .team {
    padding: 94px 0;
  }

  .team__list {
    flex-wrap: nowrap;
  }

  .team__description-text {
    margin-bottom: 30px;
  }
}

/* ---------- END RESPONSIVE DESKTOP ---------- */
